#Contacts {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1px;
}
.contact-heading {
  font-size: 2em;
  margin-bottom: 10px;
}
#Email {
  text-align: center;
  margin: 20px auto;
}
body {
  margin: 0px;
  font-family: sans-serif;
 } 
 h1 {
  text-align: center;
  padding: 20px 0;
 }
 .image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
 }
 img {
  margin: 10px;
  width: 300px;
 }